<%- model_class = Bank -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong>
  <%= @bank.name %>
</p>


<%= link_to t('.back', :default => t("helpers.links.back")),
            categories_path, :class => 'btn btn-mini' %>

