<%- model_class = SubCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> de: "<%= @category.name %>"</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @sub_categories.each do |sub_category| %>
      <tr>
        <td><%= link_to sub_category.name, category_sub_category_path(@category,sub_category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
